.projectcard-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectcard-article {
  display: flex;
  flex-direction: column;
  width: 30vw;
  background-color: #adb6c4;
  margin: 5rem 1.5rem;
  padding: 1rem;
  border-radius: 25px;
}
