.projetcard-container {
  margin-top: 15rem;
  h2 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
  }
}

.projectcard-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectcard-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  background-color: #adb6c4;
  margin: 5rem 1.5rem;
  padding: 1rem;
  border-radius: 25px;

  .links {
    margin-top: 2rem;

    a {
      background-color: goldenrod;
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 10px;
    }
  }
}
