.skills-component {
  h2 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
    margin-bottom: 2rem;
  }
}

.skill-container {
  display: flex;
  font-size: 2rem;
  flex-direction: row;
  justify-content: center;
  width: 75vw;
  margin: auto;
  gap: 6rem;
  flex-wrap: wrap;
  .skill > img {
    border-radius: 15px;
    animation: shakeVertical 30s ease-in 0s infinite normal forwards;
    background: linear-gradient(#001b2e 45%, #adb6c4);
    filter: drop-shadow(10px 7px 10px #adb6c4);
  }
}

@keyframes shakeVertical {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}
