input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}

.star-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.rate {
  font-weight: 500;
  margin-right: 0.5rem;
}

.star {
  padding-left: 1rem;
  align-self: c;
}
